.center-crop {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-popayan{
  position: absolute;
  left: 5%;
  top: 22%;
  width: 50%;
  z-index: 1;
}
.img-fondo {
  width: 100%;
  height: 155%;
}
.div-padding{
  padding: 2%;
  margin-left: 7%;
}
.div-sidenav{
  margin-top: 15%;
  padding-top: 15%;
}
.login-padding{
  margin-left: 3%;
  margin-top: 15%:
  color:#ffffff;
}
.login-img{
  width:auto;;
  height: 100%;
}
.login.logo{
  width: 50%;
}
