<md-content flex style="margin-top:0.5%">
  <md-grid-list md-cols-gt-lg="6" md-cols-gt-md="4" md-cols-gt-sm="2" md-cols-sm="1"
  md-row-height="1:1"
  class="grid-margin"
  >
  <md-grid-tile ng-repeat="m in Iglesia" class="center-crop" ng-style="{background_image:'url({{m.img}})'}"
  md-colspan-gt-sm="{{m.cs}}" md-rowspan-gt-sm="{{m.rs}}" md-colspan-sm="1" md-rowspan="1"
  >
  <md-grid-tile-footer>
    <span class="md-body-1 md-padding">{{m.name}}</span>
  </md-grid-tile-footer>

  </md-grid-tile>

  </md-grid-list>
</md-content>
